.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.home-top {
  width: 100%;
  background-image: url("../../assets/clark-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - var(--difference-value));
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-top-wrapper {
  text-align: center;
  color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-title {
  font-size: 48px;
  margin: 20px 0;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
}
.search-bar-input-wrapper {
  width: 100%;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
}
.search-bar-input {
  width: 100%;
  border: none;
  font-family: var(--font-family);
  outline: none;
}

.search-bar-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.search-bar-select-wrapper {
  flex: 1;
  position: relative;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.search-bar-select-wrapper .search-bar-item {
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  border: none;
  outline: none;
  font-family: var(--font-family);
}

.search-bar-item-option {
  background-color: white !important;
  color: black !important;
}
.search-bar-item-option:disabled {
  color: #bbb !important;
}

.search-bar-btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 100%;
  font-family: var(--font-family);
}

/* Media Query */
@media (max-width: 650px) {
  .home-top .home-top-title {
    font-size: 35px;
    text-align: center;
    padding: 10px;
  }

  .home-top-title {
    margin: 30px 0px;
    font-size: 30px;
  }

  .search-bar {
    flex-direction: column;
    align-items: unset;
    padding: 5px 10px 10px 10px;
    width: 260px;
    gap: 10px;
  }
  .search-bar-input-wrapper {
    margin-top: 10px;
    padding: 20px;
  }

  .search-bar-inputs-wrapper {
    flex-direction: column;
  }

  .search-bar-select-wrapper {
    margin: 5px 0px;
  }

  .search-bar .search-bar-item {
    margin: 10px 0px;
  }
  .search-bar-btn {
    margin-top: 5px;
    margin-right: 0px;
  }

  .home-about-app {
    flex-direction: column;
  }
}
