.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.home-top {
  width: 100%;
  background-image: url("../../assets/clark-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - var(--difference-value));
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-top-wrapper {
  text-align: center;
  color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-title-wrapper {
  margin: 20px 0;
  text-align: center;
}
.home-top-title {
  font-size: 48px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.buy {
  color: #fff; /* Green */
  text-shadow: 0 0 5px #97ff00, /* Inner light green glow */ 0 0 10px #2ecc71,
    /* Green glow */ 0 0 15px #00ff00; /* Outer lime green glow */
}

.rent {
  color: #fff; /* Orange */
  text-shadow: 0 0 5px #ffa726, /* Inner light orange glow */ 0 0 10px #ff9500,
    /* Orange glow */ 0 0 15px #ff7f00; /* Outer dark orange glow */
}

.sell {
  color: #fff; /* Red */
  text-shadow: 0 0 5px #ff4500, 0 0 10px #f00, /* Red glow */ 0 0 15px #c00;
}

.advanced-search-title {
  color: black;
  align-self: flex-start;
  line-height: 1;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 600;
}

.title-rest {
  font-size: 25px;
}
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
  width: 600px;
}
.search-bar-input-wrapper {
  width: 100%;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  padding: 11px;
  gap: 10px;
  border-radius: 5px;
}
.search-bar-input {
  width: 100%;
  border: none;
  font-family: var(--font-family);
  outline: none;
}

.search-bar-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.search-bar-select-wrapper {
  flex: 1;
  position: relative;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.search-bar-select-wrapper .search-bar-item {
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  border: none;
  outline: none;
  font-family: var(--font-family);
  cursor: pointer;
}

.search-bar-item-option {
  background-color: white !important;
  color: black !important;
}
.search-bar-item-option:disabled {
  color: #bbb !important;
}

.search-bar-btn {
  padding: 15px 20px;
  font-size: 20px;
  line-height: 1;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
}

.cancel-btn {
  font-size: 11px;
  padding: 0 10px;
  color: red;
  cursor: pointer;
}

/* Media Query */
@media (max-width: 650px) {
  .home-top-title {
    font-size: 35px;
  }

  .search-bar {
    flex-direction: column;
    align-items: unset;
    padding: 5px 10px 10px 10px;
    width: 260px;
    gap: 10px;
  }
  .search-bar-input-wrapper {
    margin-top: 10px;
    padding: 20px;
  }

  .search-bar-inputs-wrapper {
    flex-direction: column;
  }

  .search-bar-select-wrapper {
    margin: 5px 0px;
  }

  .search-bar .search-bar-item {
    margin: 10px 0px;
  }
  .search-bar-btn {
    margin-top: 5px;
    margin-right: 0px;
  }

  .home-about-app {
    flex-direction: column;
  }
}
