.search-results {
  min-height: calc(100vh - var(--difference-value));
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.search-results-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100vh - var(--difference-value));
  position: relative;
}

.search-results-main {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.search-results-count {
  font-weight: 700;
  padding: 5px 0;
}

.search-results-main-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* SIDEBAR */
.search-results-sidebar {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results-sidebar-wrapper {
  background-color: var(--white-color);
  width: -webkit-fill-available;
}
.search-results-sidebar-wrapper h4 {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 5px 0;
  margin-bottom: 5px;
}
.search-results-form {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 5px;
}

.sidebar-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  padding: 11px 10px;
  gap: 10px;
}

.sidebar-input {
  flex: 1;
  border: none;
  font-family: var(--font-family);
  outline: none;
  font-size: 15px;
}

.select-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 10px;
}

.siderbar-select {
  flex: 1;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  background-color: white;
}

.search-results-form-btn {
  padding: 11.5px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: bold;
}

/* Search Item */
.search-item {
  display: block;
  text-decoration: none;
  color: var(--dark-color);
}

.search-item-card {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-item-img-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.search-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-item-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.search-item-price {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
}

.search-item-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--dark-color);
}

.search-item-bottom {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--gray-color);
  margin-top: auto;
}

.no-results-found {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Query */

@media (max-width: 720px) {
  .search-results-main-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px) {
  .search-results-main-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Hide sidebar on mobile screens */
@media (max-width: 768px) {
  .search-results-sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
    color: var(--primary-color);
    align-items: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .search-results-sidebar.active {
    display: block;
    position: sticky;
    top: 44px;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--white-color);
  }
}

/* Hide the sidebar-toggle icon on larger screens */
@media (min-width: 769px) {
  .sidebar-toggle {
    display: none;
  }
}
