.admin {
  display: flex;
  min-height: calc(100vh - var(--difference-value));
}

.admin-sidebar {
  flex: 2;
  background-color: #ffdfdc;
}

.admin-sidebar-component {
  display: flex;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
}

.admin-sidebar-component:hover {
  background-color: #ffd1d1da;
}

/* STATISTICS */
.admin-dashboard {
  flex: 10;
}

.statistics {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px;
  align-content: flex-start;
}

.statistics-item {
  width: 150px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.workshops-panel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.workshops-table {
  border: 1px solid #000;
}

.workshops-table-body-item {
  padding: 10px;
  border: 1px solid #000;
}

.workshops-delete-button {
  padding: 10px;
  color: var(--white-color);
  background-color: rgb(207, 74, 74);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.admin-ads {
  display: flex;
  gap: 13px;
  padding: 10px;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}
.admin-ad-wrapper {
  border: 1px solid #000;
  display: flex;
  width: 300px;
  padding: 0 10px;
  justify-content: space-between;
}

.admin-ad-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.admin-delete-ad-btn,
.admin-accept-ad-btn {
  color: var(--white-color);
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 5px;
  text-align: center;
  line-height: 1;
  font-size: 14px;
}

.admin-delete-ad-btn {
  background-color: var(--red-color);
}
.admin-accept-ad-btn {
  background-color: var(--green-color);
}

/* USERS */
.users-panel {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination .pagination-btn {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination .pagination-btn:disabled {
  cursor: not-allowed;
  background-color: #f9f9f9;
}

.pagination .pagination-btn:hover:not(:disabled) {
  background-color: #e2e2e2;
}

.pagination .pagination-input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.pagination .pagination-select {
  padding: 5px;
  border: 1px solid #ddd;
}

.admin-ads-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.admin-ads-filter {
  display: flex;
  gap: 10px;
}
